body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background-color: whitesmoke;
    max-width: 900px;
    padding: 10px
}
nav {
    display: inline;
}

p.ital {
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
}

h1 {
    background-color: deeppink;
    text-transform: uppercase;
}
footer {
    text-decoration: underline;
}

a:link {
    color: springgreen;
}
a:visited {
    color: darkred;
}
a:hover {
    color: lawngreen;
}
a:active {
    color: deepskyblue;
}